.page__community
  .video__screen
    background: rgba(27, 58, 68, 0.7)
  .page__container
    z-index: 1
    position: relative
    opacity: 0
    &.animated
      opacity: 1
@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .community-section__title
    font-size: 60px
  .community-section__under-title
    font-size: 30px
  .community-section__p
    font-size: 14px
    line-height: 1.8