.development-section
  &__title
    opacity: 0
    &.animated
      opacity: 1
  &__cyrcle-after
    position: absolute
    width: 100%
    height: 2px
    background-color: #f2f2f2
    right: -30%
    top: 50%
    margin-top: -4px
  &__icon
    position: relative
    opacity: 0
  &__sublist
    opacity: 0
  &__stage
    opacity: 0
@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .development-section__name
    font-size: 65px