.page__faq
  background: url('../img/security-bg.jpg') no-repeat center / cover
  @media screen and (max-width: 1199px)
    padding: 40px 0
.faq-section
  &__title
    font-size: 60px
    margin-bottom: 25px
    text-transform: uppercase
    line-height: 1
    letter-spacing: 1.44px
    color: white
    font-weight: bold
    text-shadow: rgba(0, 0, 0, 0.34) 1px 0 5px


  &__list
    @media screen and (min-width: 769px)
      display: flex
      justify-content: space-between

  &__items-wrapper
    width: 100%
    @media screen and (min-width: 769px)
      width: 48%
  &__item-title
    padding: 5px 10px
    font-size: 18px
    transition: .2s
    cursor: pointer
    font-weight: normal
    margin: 10px 0 0
    min-height: 37px
    color: white
    &:hover
      background: white
      color: black
  &__item
    opacity: 0
    transition: .2s

    &.active
      .faq-section__item-title
        color: black
        background: white

  &__item-info
    background: rgba(#f3f3f3,.2)
    padding: 5px 10px
    color: white
    font-size: 17px
    display: none
  .typed-strings
    display: none