.description-section
  margin-top: 40px
  &__title
    font-size: 39px
  .cls-1
    fill: #000
  .cls-2,
  .cls-3,
  .cls-4
    fill: none
    stroke: #000
    stroke-linejoin: round
  .cls-2
    stroke-width: 3px
  .cls-4
    stroke-width: 2px
  #fs
    opacity: 0
  &__img
    //background: white

  &__text
    position: relative
    min-height: 80vh
  &__img
    z-index: 9
    svg
      position: absolute
      left: -60%
      transition: .5s
      display: none
    img
      position: absolute
      left: -60%
      opacity: 0
  &__item
    display: none

    .description-section__line
      width: 0
      opacity: 0

    &.animated
      display: block

  &__title-wrapper
    opacity: 0
@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .description-section
    &__img
      height: 500px
      max-width: 300px
      margin-top: 40px
    &__item
      margin-bottom: 20px
    &__line
      bottom: -10px
  .description-section__subtitle
    margin-bottom: 20px

@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)
  .description-section
    &__img
      max-width: 350px
    &__title
      font-size: 60px
    &__subtitle
      font-size: 30px
      margin-bottom: 10px
    &__h3
      font-size: 20px
    &__item
      margin-bottom: 20px
    &__line
      bottom: -10px