.page__hero
  min-height: 100vh
  background: url("../img/firstBg.jpg")no-repeat center / cover
.hero__box
  max-width: 430px
.hero__h2
  font-size: 25px
  text-align: center
  letter-spacing: 6px
  margin-bottom: 10px