$def-transition: .2s
.section
  padding: 0
  overflow: hidden
.active
  a
    color: #16b8ed
.page
  &__header
    background: black
    transition: $def-transition
    .header
      transition: $def-transition
      padding: 20px 0
    &.firstSlide
      background: rgba(black,0)
      .header
        padding: 50px 0
  &__features
    margin-top: 50px

  &__spec
    padding: 0 !important

.menu__block
  height: 0
  overflow: hidden

.menu__btn
  &:hover
    .menu__block
      height: auto

svg
  max-width: 100%



