//.community-section
//  &__btn
//    background: darkgray
//    color: white
//    font-size: 24px
//    text-transform: uppercase
//    width: 100%
//    padding: 20px 0
//    margin-top: 20px
//    cursor: pointer
//    transition: .2s
//    display: none
//    &--blue
//      background: #00ccff
//      &:hover
//        background: darken(#00ccff,10)
//    span
//      display: flex
//      align-items: center
//      justify-content: center
//
//      &:before
//        content: ''
//        display: block
//        margin-right: 15px
//        width: 11px
//        height: 11px
//        background: white
//  &__market
//    flex: 0 0 440px
//    max-width: 440px
.page__container
  position: relative
.triagle-top-right
  position: absolute
  top: 0
  left: 0
  width: 133px
  height: 184px
  opacity: 0
  background: url("../img/top-triangle.png") no-repeat center / cover
.join-line
  position: absolute
  &--bottom-left
    right: 100%
    top: 100%
  &--top-left
    bottom: 100%
    right: 100%
  &--top-right
    left: 100%
    margin-left: -25px
    bottom: 100%
    margin-bottom: -50px

  &--bottom-right
    top: 100%
    left: 100%

  &#join-line-spec
    margin-bottom: -30px

  &__gorizontal
    position: absolute
    width: 0
    height: 1px
    background: #e8e9ed
    &--bottom-right
      bottom: 0
      right: 0
    &--bottom-left
      bottom: 0
      left: 0
    &--top-left
      top: 0
      left: 0
    &--top-right
      top: 0
      right: 0
  &__vertical
    position: absolute
    width: 1px
    height: 0
    background: #e8e9ed
    right: 0
    &--right-top
      right: 0
      top: 0
    &--left-top
      left: 0
      top: 0
  &--description
    height: 300px
    width: 300px
    margin-top: -70px


  &--save
    z-index: 1

  &__square
    opacity: 0
    display: block
    width: 14px
    height: 14px
    background: #00c3ff
    position: absolute
    &--top-right
      right: -7px
      top: -7px
    &--top-left
      left: -7px
      top: -7px
    &--bottom-right
      bottom: -7px
      right: -7px
    &--bottom-left
      bottom: -7px
      left: -7px

  .pulse
    bottom: -11px
    opacity: 0
    right: -11px
    &--left-bottom
      right: initial
      left: -11px
.pulse
  position: absolute
  display: block
  width: 22px
  height: 22px
  border-radius: 50%
  background: rgba(0, 195, 255, 0)
  box-shadow: 0 0 0 rgba(0, 195, 255, 0.2)
  animation: pulse 2s infinite
  bottom: 0

@keyframes pulse 
  0%
    box-shadow: 0 0 0 0 rgba(0, 195, 255, 0.4)

  70%
    box-shadow: 0 0 0 20px rgba(0, 195, 255, 0)

  100%
    box-shadow: 0 0 0 0 rgba(0, 195, 255, 0)



.page__community
  .join-line
    margin-left: -5px

#join-line-token-2
  margin-right: 20px
#join-line-team
  margin-bottom: -35px


.security-section
  &__titleImg
    position: absolute
    bottom: 100px
    display: block
    @media screen and (min-width: 1300px)
      display: block
      left: 40%
    @media screen and (min-width: 1600px)
      left: 20%
.small-desktop-detect-js,
.old-desktop-detect-js  
  display: none 

#controlBar_bgndVideo-community
  display: none

@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .old-desktop-detect-js  
    display: block
@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)
  .small-desktop-detect-js
    display: block



.security-section
  &__youtubeVideo
    position: absolute
    width: 100%
    height: 100%
    background: black
    top: 0
    right: 0
    display: none

@media (max-width: 650px)
  .spec-section__col
    padding-right: 0 !important
  .spec-section__row
    display: block
  .spec-section__list
    display: block
  .development-section__name
    font-size: 40px
  .team-section__photo
    display: block
    flex: 100%
    padding: 0
  .team-section__list
    display: block
  .team-section__item
    width: 350px
    margin: 20px auto
  .team-section__inside
    display: block
    text-align: center
    img
      margin: auto
      width: 100%
      position: relative
      height: auto
@media (max-width: 390px)
    .team-section__item
      width: 300px
    .page__hero
      padding-bottom: 90%
    .hero__count-down
      font-size: 16px
    .page__about,.page__token
      padding: 20px 0 0