.top-nav__item
  img
    height: 18px
    width: auto
    margin-top: -2px

.main-menu
  position: fixed
  width: 80%
  height: 100%
  right: -100%
  top: 0
  background: rgba(0, 0, 0, 1)
  z-index: 99999
  display: flex
  justify-content: center
  align-items: center
  transition: .5s
  .menu__block
    display: block
    position: relative
    top: 0
    opacity: 1
    height: auto
    background: none
    width: auto
  #menu
    display: block
  .menu
    &__list
      display: block
    &__item
      display: block
      a
        color: white
        font-size: 25px
      &.active
        a
          color: #00c3ff
      &--footer
        display: flex
        a
          background: white
          width: 40px
          height: 40px
          margin-right: 20px
          display: flex
          justify-content: center
          align-items: center
          border-radius: 50%
          transition: .2s
          img
            height: 70%
          &:hover
            background: #00cbfc
          &:last-child
            margin-right: 0

.close-btn
  position: absolute
  top: 20px
  right: 20px
.close
  position: relative
  display: inline-block
  width: 30px
  height: 30px
  overflow: hidden
  &:hover 
    &::before, &::after 
      background: #fff
  


  &::before, &::after 
    content: ''
    position: absolute
    height: 2px
    width: 100%
    top: 50%
    left: 0
    margin-top: -1px
    background: #fff

  &::before 
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)
  &.hairline
    &::before, &::after
      height: 1px

.activeMenu
  .main-menu
    right: 0



@media screen and (max-width: 768px)
  .main-menu
    width: 90%
    display: block
    padding: 70px 0 20px 40px
    overflow: auto
    max-height: 100%
    box-sizing: border-box
    .menu
      &__item
        padding: 5px 10px
        a
          font-size: 18px
          display: block
          padding: 2px 0
        &--footer
          margin-top: 10px
          a
            padding: 0
            display: flex
    .close-btn
      left: 20px
