@media screen and (max-width: 1199px)
  .page
    &__header
      background: black
      &.firstSlide
         background: none
  .join-line
    display: none
  .page__hero
    padding-bottom: 51%
  .desktop-detect-js
    display: none
  .page__community
    position: relative
  .description-section__img
    display: block
    text-align: center
    max-width: 100%
    flex: 100%
    svg
      display: none
    img
      margin: auto
      width: 300px
  .page__container
    position: relative

  .security-section__block:before
    content: ''
    display: block
    position: absolute
    right: 265px
    top: 0
    width: 500%
    bottom: 0
    background-position: 100% 50%
    background-repeat: no-repeat
    background-color: #000
    background-image: url(../img/security-bg.jpg)
    background-size: cover
  .faq-section__item
    opacity: 1 !important

  .page__header
    position: fixed
@media screen and (max-width: 900px)
  .security-section__titleImg
    left: 20px !important
@media screen and (max-width: 768px)
  .security-section__block
    max-width: 100%
    flex: 100%
  .development-section__cyrcle-after
    display: none
  .page__container
    position: relative
    z-index: 1
  .token-section__box
    display: block
  .description-section__subtitle
    margin-bottom: 0
  .section
    padding: 30px 0



@media screen and (max-width: 500px)
  .community-section__title
    font-size: 35px
  .security-section__titleImg
    width: 80%
    max-width: 300px

@media screen and (max-width: 350px)
  .description-section__title
    font-size: 40px
  .description-section__subtitle
    font-size: 25px