.security-section
  &__title-wrapper
    text-align: center
    position: absolute
    bottom: 100px
    left: 450px
  &__titleImg
    position: absolute
    bottom: 100px
    left: 20%

  &__title
    color: white
    text-transform: uppercase
    margin: 0
    &--s
      font-size: 18px
    &--l
      font-size: 53px
    &--m
      font-size: 18px
  .video__screen
    opacity: 0
    cursor: pointer
    transition: .2s
    &:hover
      opacity: .2
  &__block-before
    opacity: 0
    content: ''
    position: absolute
    display: block
    right: 265px
    top: 0
    width: 500%
    bottom: 0
    background-position: 100% 50%
    background-repeat: no-repeat
    background-color: #000
    background-image: url(../img/save-bg.jpg)
    background-size: cover
    &.animated
      opacity: 1
 

@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .security-section__top
    margin-bottom: 10px
  .security-section__inner
    padding: 10px 15px 10px 10px
  .security-section__p
    font-size: 10px
    letter-spacing: 0
  .page__security
    margin-top: 20px
@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)
  .page__security
    margin-top: 20px
  .security-section__inner
    padding: 20px


@media screen and (max-width: 1300px)
  .security-section
    &__titleImg
      left: 40%
@media screen and (max-width: 1200px)
  .security-section
    &__block-before
      opacity: 1
      position: relative
      height: 500px
      background: url(../img/save-bg.jpg) no-repeat center / cover !important
      width: 100%
      margin: auto
      right: inherit
    &__titleImg
      position: relative
      display: block
    &__block
      display: block
      flex: 100%
      max-width: 100%
      &:before
        display: none


