.spec-section
  &__block
    opacity: 0
  &__image
    opacity: 0
    position: relative
    &.animated
      opacity: 1
  &__item
    position: relative
    //overflow: hidden
  &__img-item
    top: 0
    position: absolute
    height: auto
    opacity: 0
    left: 0
    //animation-duration: 2s
    &.animated
      opacity: 1

.spec-block
  &__inner
    position: relative
    background: none
    border-right: 2px solid rgba(#00cbfc,0)
  &__inner-right-line
    position: absolute
    width: 2px
    height: 0
    background: #00cbfc
    top: 0
    left: 100%
  &__inner-bg
    background: #fafafa
    position: absolute
    width: 0
    height: 100%
    top: 0
    right: 0
    z-index: -1
.spec-block
  &__title,
  &__desc
    opacity: 0
    transition: .5s


@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .spec-section
    &__img-item
      left: 20%
  .spec-section__item:nth-child(2)
    flex: 0 1 25%
    img
      width: 50%
      display: block
      margin: 50px auto 0
  .spec-section__desc-item
    letter-spacing: 0
    font-size: 11px
  .spec-section__title
    font-size: 40px
  .page__spec
    margin-top: 20px
@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)
  .page__spec
    margin-top: 40px
  .spec-section__item:nth-child(1)
    padding-top: 20px
