.team-section
  &__list
  &__item
    opacity: 0
    flex: 0 1 33.3334%
    &.animated
      opacity: 1
  &__title
    opacity: 0
    &.animated
      opacity: 1
  &__img
    min-height: 100%
  &__photo
    padding-bottom: 0
    height: 209px
  &__inner
    padding: 0 10px
    //display: flex
    //align-items: center
  &__desc
    display: flex
    align-items: center
  &__position
    margin-bottom: 10px
  &__name
    font-size: 18px
  &__text
    line-height: 20px
@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .team-section
    margin-top: 80px
  .team-section__inner
    padding: 30px 10px
  .team-section__photo
    padding-bottom: 0
    height: 209px
    img
      min-height: 100%
  .team-section__text
    font-size: 12px
@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)
  .page__team
    margin-top: 20px
  .team-section__photo
    padding-bottom: 0
    height: 209px