.token-section__p
  opacity: 0

.token-price
  opacity: 0
  &.animated
    opacity: 1





.token-section
  &__img
    display: flex
    justify-content: center
    align-items: center
.medal
  width: 200px
  height: 200px
  position: relative
  border-radius: 50%
  overflow: hidden
  &__face
    position: absolute
    width: 200px
    height: 200px
    left: 0
    top: 0
    &--front
      background: url('../img/img-front.jpg') no-repeat center / cover
    &--back
      background: url('../img/img-front.jpg') no-repeat center / cover




#chartdiv
  width: 100%
  height: 500px
  font-size: 11px
.get
  display: none


#diagram
  width: 600px
  height: 600px
  position: relative
  .medal
    position: absolute
    left: 50%
    margin-left: -100px
    top: 50%
    margin-top: -100px
.tok-img
  display: none
@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .page__token
    margin-top: 80px

  .token-section
    &__title
      font-size: 40px
      margin-bottom: 15px
    &__p
      font-size: 11px
      line-height: 1.8
    .token-price
      padding-top: 10px
      &__text
        padding-top: 2px
  #diagram
    margin-top: -80px
@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)

  .page__token
    margin-top: 50px
  .token-section
    &__title
      font-size: 52px
      margin-bottom: 15px
    &__p
      font-size: 13px
      line-height: 1.7
    .token-price
      padding-top: 25px
      &__text
        padding-top: 15px

