#lottie
  background-color: #fff
  width: 100%
  height: 100%
  display: block
  overflow: hidden
  transform: translate3d(0,0,0)
  text-align: center
  opacity: 1


@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .page__features
    margin-top: 10px
  .about-section__image
    max-width: 200px
  .about-section__title
    font-size: 30px
  .page__about
    margin-top: 10px
  .about-section__p
    font-size: 13px
  .about-section__italic
    margin-bottom: 10px

@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)
  .page__features
    margin-top: 30px
  .about-section__image
    max-width: 300px
  .about-section__title
    font-size: 40px
  .page__about
    margin-top: 40px