.wizebox-mini
  &__image
    position: relative
    margin: auto
    width: 100%
    img
      width: 100%
  &__wrapperText
    position: absolute
    width: 23%
    &#rotor
      left: 29%
      height: 30%
      top: 8%
      .wizebox-mini
        &__title
          right: 100%

    &#speakers
      right: 17%
      height: 13%
      top: 54%
      width: 34%
      .wizebox-mini
        &__title
          left: 100%
        &__line
          &--vertical
            &:nth-child(4)
              height: 100% !important
            @media screen and (max-width: 1200px)
              &:nth-child(3)
                height: 81%
          &--custom
            left: 40%
        &__circle
          &:nth-child(5)
            bottom: 10%
    &#button
      left: 15%
      bottom: 30%
      width: 30%
      height: 10%
      @media screen and (max-width: 600px)
        width: 20%
        left: 25%

      .wizebox-mini
        &__title
          right: 100%
    &#ports
      height: 5px
      width: 25%
      bottom: 20%
      left: 20%
      @media screen and (max-width: 600px)
        width: 10%
        left: 35%
        height: 3px
        bottom: 15%
      .wizebox-mini
        &__title
          right: 100%
  &__title
    font-size: 30px
    margin: 0
    line-height: 19px
    position: absolute
    bottom: 100%
    opacity: 0
    white-space: nowrap
    @media screen and (max-width: 1200px)
      opacity: 1
    @media screen and (max-width: 768px)
      font-size: 18px
    @media screen and (max-width: 600px)
      font-size: 14px
  &__line
    position: absolute
    background: #00cbfc
    &--horizontal
      height: 1px
      width: 0
      left: 0
      @media screen and (max-width: 1200px)
        width: 100%
    &--vertical
      height: 0
      width: 1px
      @media screen and (max-width: 1200px)
        height: 100%
    &--bottom
      bottom: 0
    &--top
      top: 0
    &--right
      left: 100%

    &--left
      left: 0
  &__circle
    position: absolute
    opacity: 0
    width: 10px
    height: 10px
    background: #00cbfc
    //border-radius: 50%
    margin-left: -5px
    margin-right: -5px
    @media screen and (max-width: 1200px)
      opacity: 1
    @media screen and (max-width: 768px)
      width: 6px
      height: 6px
      margin-left: -3px
      margin-right: -3px
.page__wizebox-mini
  .description-section__title
    margin-bottom: 40px
    font-size: 60px
    @media screen and (max-width: 550px)
      margin: 20px auto 20px
      font-size: 50px

@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px)
  .page__wizebox-mini
    .description-section
          margin-top: 100px


@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px)
  .page__wizebox-mini
    .description-section
      margin-top: 100px
  .description-section__title
    margin-bottom: 10px
  .wizebox-mini__image
    width: 80%