@media screen and (max-width: 1199px) {
  .page__header {
    background: black; }
    .page__header.firstSlide {
      background: none; }
  .join-line {
    display: none; }
  .page__hero {
    padding-bottom: 51%; }
  .desktop-detect-js {
    display: none; }
  .page__community {
    position: relative; }
  .description-section__img {
    display: block;
    text-align: center;
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%; }
    .description-section__img svg {
      display: none; }
    .description-section__img img {
      margin: auto;
      width: 300px; }
  .page__container {
    position: relative; }
  .security-section__block:before {
    content: '';
    display: block;
    position: absolute;
    right: 265px;
    top: 0;
    width: 500%;
    bottom: 0;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-color: #000;
    background-image: url(../img/security-bg.jpg);
    -webkit-background-size: cover;
            background-size: cover; }
  .faq-section__item {
    opacity: 1 !important; }
  .page__header {
    position: fixed; } }

@media screen and (max-width: 900px) {
  .security-section__titleImg {
    left: 20px !important; } }

@media screen and (max-width: 768px) {
  .security-section__block {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%; }
  .development-section__cyrcle-after {
    display: none; }
  .page__container {
    position: relative;
    z-index: 1; }
  .token-section__box {
    display: block; }
  .description-section__subtitle {
    margin-bottom: 0; }
  .section {
    padding: 30px 0; } }

@media screen and (max-width: 500px) {
  .community-section__title {
    font-size: 35px; }
  .security-section__titleImg {
    width: 80%;
    max-width: 300px; } }

@media screen and (max-width: 350px) {
  .description-section__title {
    font-size: 40px; }
  .description-section__subtitle {
    font-size: 25px; } }

@media screen and (min-width: 1200px) {
  .section {
    padding: 0;
    overflow: hidden; }
  .active a {
    color: #16b8ed; }
  .page__header {
    background: black;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
    .page__header .header {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      padding: 20px 0; }
    .page__header.firstSlide {
      background: transparent; }
      .page__header.firstSlide .header {
        padding: 50px 0; }
  .page__features {
    margin-top: 50px; }
  .page__spec {
    padding: 0 !important; }
  .menu__block {
    height: 0;
    overflow: hidden; }
  .menu__btn:hover .menu__block {
    height: auto; }
  svg {
    max-width: 100%; }
  .page__hero {
    min-height: 100vh;
    background: url("../img/firstBg.jpg") no-repeat center/cover; }
  .hero__box {
    max-width: 430px; }
  .hero__h2 {
    font-size: 25px;
    text-align: center;
    letter-spacing: 6px;
    margin-bottom: 10px; }
  .page__community .video__screen {
    background: rgba(27, 58, 68, 0.7); }
  .page__community .page__container {
    z-index: 1;
    position: relative;
    opacity: 0; }
    .page__community .page__container.animated {
      opacity: 1; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .community-section__title {
    font-size: 60px; }
  .community-section__under-title {
    font-size: 30px; }
  .community-section__p {
    font-size: 14px;
    line-height: 1.8; } }

@media screen and (min-width: 1200px) {
  .development-section__title {
    opacity: 0; }
    .development-section__title.animated {
      opacity: 1; }
  .development-section__cyrcle-after {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #f2f2f2;
    right: -30%;
    top: 50%;
    margin-top: -4px; }
  .development-section__icon {
    position: relative;
    opacity: 0; }
  .development-section__sublist {
    opacity: 0; }
  .development-section__stage {
    opacity: 0; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .development-section__name {
    font-size: 65px; } }

@media screen and (min-width: 1200px) {
  .description-section {
    margin-top: 40px; }
    .description-section__title {
      font-size: 39px; }
    .description-section .cls-1 {
      fill: #000; }
    .description-section .cls-2,
    .description-section .cls-3,
    .description-section .cls-4 {
      fill: none;
      stroke: #000;
      stroke-linejoin: round; }
    .description-section .cls-2 {
      stroke-width: 3px; }
    .description-section .cls-4 {
      stroke-width: 2px; }
    .description-section #fs {
      opacity: 0; }
    .description-section__text {
      position: relative;
      min-height: 80vh; }
    .description-section__img {
      z-index: 9; }
      .description-section__img svg {
        position: absolute;
        left: -60%;
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        display: none; }
      .description-section__img img {
        position: absolute;
        left: -60%;
        opacity: 0; }
    .description-section__item {
      display: none; }
      .description-section__item .description-section__line {
        width: 0;
        opacity: 0; }
      .description-section__item.animated {
        display: block; }
    .description-section__title-wrapper {
      opacity: 0; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .description-section__img {
    height: 500px;
    max-width: 300px;
    margin-top: 40px; }
  .description-section__item {
    margin-bottom: 20px; }
  .description-section__line {
    bottom: -10px; }
  .description-section__subtitle {
    margin-bottom: 20px; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .description-section__img {
    max-width: 350px; }
  .description-section__title {
    font-size: 60px; }
  .description-section__subtitle {
    font-size: 30px;
    margin-bottom: 10px; }
  .description-section__h3 {
    font-size: 20px; }
  .description-section__item {
    margin-bottom: 20px; }
  .description-section__line {
    bottom: -10px; } }

@media screen and (min-width: 1200px) {
  .spec-section__block {
    opacity: 0; }
  .spec-section__image {
    opacity: 0;
    position: relative; }
    .spec-section__image.animated {
      opacity: 1; }
  .spec-section__item {
    position: relative; }
  .spec-section__img-item {
    top: 0;
    position: absolute;
    height: auto;
    opacity: 0;
    left: 0; }
    .spec-section__img-item.animated {
      opacity: 1; }
  .spec-block__inner {
    position: relative;
    background: none;
    border-right: 2px solid rgba(0, 203, 252, 0); }
  .spec-block__inner-right-line {
    position: absolute;
    width: 2px;
    height: 0;
    background: #00cbfc;
    top: 0;
    left: 100%; }
  .spec-block__inner-bg {
    background: #fafafa;
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1; }
  .spec-block__title, .spec-block__desc {
    opacity: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .spec-section__img-item {
    left: 20%; }
  .spec-section__item:nth-child(2) {
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 25%;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%; }
    .spec-section__item:nth-child(2) img {
      width: 50%;
      display: block;
      margin: 50px auto 0; }
  .spec-section__desc-item {
    letter-spacing: 0;
    font-size: 11px; }
  .spec-section__title {
    font-size: 40px; }
  .page__spec {
    margin-top: 20px; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .page__spec {
    margin-top: 40px; }
  .spec-section__item:nth-child(1) {
    padding-top: 20px; } }

@media screen and (min-width: 1200px) {
  .team-section__item {
    opacity: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 33.3334%;
        -ms-flex: 0 1 33.3334%;
            flex: 0 1 33.3334%; }
    .team-section__item.animated {
      opacity: 1; }
  .team-section__title {
    opacity: 0; }
    .team-section__title.animated {
      opacity: 1; }
  .team-section__img {
    min-height: 100%; }
  .team-section__photo {
    padding-bottom: 0;
    height: 209px; }
  .team-section__inner {
    padding: 0 10px; }
  .team-section__desc {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .team-section__position {
    margin-bottom: 10px; }
  .team-section__name {
    font-size: 18px; }
  .team-section__text {
    line-height: 20px; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .team-section {
    margin-top: 80px; }
  .team-section__inner {
    padding: 30px 10px; }
  .team-section__photo {
    padding-bottom: 0;
    height: 209px; }
    .team-section__photo img {
      min-height: 100%; }
  .team-section__text {
    font-size: 12px; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .page__team {
    margin-top: 20px; }
  .team-section__photo {
    padding-bottom: 0;
    height: 209px; } }

@media screen and (min-width: 1200px) {
  .token-section__p {
    opacity: 0; }
  .token-price {
    opacity: 0; }
    .token-price.animated {
      opacity: 1; }
  .token-section__img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .medal {
    width: 200px;
    height: 200px;
    position: relative;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    overflow: hidden; }
    .medal__face {
      position: absolute;
      width: 200px;
      height: 200px;
      left: 0;
      top: 0; }
      .medal__face--front {
        background: url("../img/img-front.jpg") no-repeat center/cover; }
      .medal__face--back {
        background: url("../img/img-front.jpg") no-repeat center/cover; }
  #chartdiv {
    width: 100%;
    height: 500px;
    font-size: 11px; }
  .get {
    display: none; }
  #diagram {
    width: 600px;
    height: 600px;
    position: relative; }
    #diagram .medal {
      position: absolute;
      left: 50%;
      margin-left: -100px;
      top: 50%;
      margin-top: -100px; }
  .tok-img {
    display: none; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .page__token {
    margin-top: 80px; }
  .token-section__title {
    font-size: 40px;
    margin-bottom: 15px; }
  .token-section__p {
    font-size: 11px;
    line-height: 1.8; }
  .token-section .token-price {
    padding-top: 10px; }
    .token-section .token-price__text {
      padding-top: 2px; }
  #diagram {
    margin-top: -80px; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .page__token {
    margin-top: 50px; }
  .token-section__title {
    font-size: 52px;
    margin-bottom: 15px; }
  .token-section__p {
    font-size: 13px;
    line-height: 1.7; }
  .token-section .token-price {
    padding-top: 25px; }
    .token-section .token-price__text {
      padding-top: 15px; } }

@media screen and (min-width: 1200px) {
  #lottie {
    background-color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-align: center;
    opacity: 1; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .page__features {
    margin-top: 10px; }
  .about-section__image {
    max-width: 200px; }
  .about-section__title {
    font-size: 30px; }
  .page__about {
    margin-top: 10px; }
  .about-section__p {
    font-size: 13px; }
  .about-section__italic {
    margin-bottom: 10px; } }

@media screen and (min-width: 1200px) and (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .page__features {
    margin-top: 30px; }
  .about-section__image {
    max-width: 300px; }
  .about-section__title {
    font-size: 40px; }
  .page__about {
    margin-top: 40px; } }

@media screen and (min-width: 1200px) {
  .desktop-detect-js {
    display: block; } }

.wizebox-mini__image {
  position: relative;
  margin: auto;
  width: 100%; }
  .wizebox-mini__image img {
    width: 100%; }

.wizebox-mini__wrapperText {
  position: absolute;
  width: 23%; }
  .wizebox-mini__wrapperText#rotor {
    left: 29%;
    height: 30%;
    top: 8%; }
    .wizebox-mini__wrapperText#rotor .wizebox-mini__title {
      right: 100%; }
  .wizebox-mini__wrapperText#speakers {
    right: 17%;
    height: 13%;
    top: 54%;
    width: 34%; }
    .wizebox-mini__wrapperText#speakers .wizebox-mini__title {
      left: 100%; }
    .wizebox-mini__wrapperText#speakers .wizebox-mini__line--vertical:nth-child(4) {
      height: 100% !important; }
    @media screen and (max-width: 1200px) {
      .wizebox-mini__wrapperText#speakers .wizebox-mini__line--vertical:nth-child(3) {
        height: 81%; } }
    .wizebox-mini__wrapperText#speakers .wizebox-mini__line--custom {
      left: 40%; }
    .wizebox-mini__wrapperText#speakers .wizebox-mini__circle:nth-child(5) {
      bottom: 10%; }
  .wizebox-mini__wrapperText#button {
    left: 15%;
    bottom: 30%;
    width: 30%;
    height: 10%; }
    @media screen and (max-width: 600px) {
      .wizebox-mini__wrapperText#button {
        width: 20%;
        left: 25%; } }
    .wizebox-mini__wrapperText#button .wizebox-mini__title {
      right: 100%; }
  .wizebox-mini__wrapperText#ports {
    height: 5px;
    width: 25%;
    bottom: 20%;
    left: 20%; }
    @media screen and (max-width: 600px) {
      .wizebox-mini__wrapperText#ports {
        width: 10%;
        left: 35%;
        height: 3px;
        bottom: 15%; } }
    .wizebox-mini__wrapperText#ports .wizebox-mini__title {
      right: 100%; }

.wizebox-mini__title {
  font-size: 30px;
  margin: 0;
  line-height: 19px;
  position: absolute;
  bottom: 100%;
  opacity: 0;
  white-space: nowrap; }
  @media screen and (max-width: 1200px) {
    .wizebox-mini__title {
      opacity: 1; } }
  @media screen and (max-width: 768px) {
    .wizebox-mini__title {
      font-size: 18px; } }
  @media screen and (max-width: 600px) {
    .wizebox-mini__title {
      font-size: 14px; } }

.wizebox-mini__line {
  position: absolute;
  background: #00cbfc; }
  .wizebox-mini__line--horizontal {
    height: 1px;
    width: 0;
    left: 0; }
    @media screen and (max-width: 1200px) {
      .wizebox-mini__line--horizontal {
        width: 100%; } }
  .wizebox-mini__line--vertical {
    height: 0;
    width: 1px; }
    @media screen and (max-width: 1200px) {
      .wizebox-mini__line--vertical {
        height: 100%; } }
  .wizebox-mini__line--bottom {
    bottom: 0; }
  .wizebox-mini__line--top {
    top: 0; }
  .wizebox-mini__line--right {
    left: 100%; }
  .wizebox-mini__line--left {
    left: 0; }

.wizebox-mini__circle {
  position: absolute;
  opacity: 0;
  width: 10px;
  height: 10px;
  background: #00cbfc;
  margin-left: -5px;
  margin-right: -5px; }
  @media screen and (max-width: 1200px) {
    .wizebox-mini__circle {
      opacity: 1; } }
  @media screen and (max-width: 768px) {
    .wizebox-mini__circle {
      width: 6px;
      height: 6px;
      margin-left: -3px;
      margin-right: -3px; } }

.page__wizebox-mini .description-section__title {
  margin-bottom: 40px;
  font-size: 60px; }
  @media screen and (max-width: 550px) {
    .page__wizebox-mini .description-section__title {
      margin: 20px auto 20px;
      font-size: 50px; } }

@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .page__wizebox-mini .description-section {
    margin-top: 100px; } }

@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .page__wizebox-mini .description-section {
    margin-top: 100px; }
  .description-section__title {
    margin-bottom: 10px; }
  .wizebox-mini__image {
    width: 80%; } }

.security-section__title-wrapper {
  text-align: center;
  position: absolute;
  bottom: 100px;
  left: 450px; }

.security-section__titleImg {
  position: absolute;
  bottom: 100px;
  left: 20%; }

.security-section__title {
  color: white;
  text-transform: uppercase;
  margin: 0; }
  .security-section__title--s {
    font-size: 18px; }
  .security-section__title--l {
    font-size: 53px; }
  .security-section__title--m {
    font-size: 18px; }

.security-section .video__screen {
  opacity: 0;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .security-section .video__screen:hover {
    opacity: .2; }

.security-section__block-before {
  opacity: 0;
  content: '';
  position: absolute;
  display: block;
  right: 265px;
  top: 0;
  width: 500%;
  bottom: 0;
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-color: #000;
  background-image: url(../img/save-bg.jpg);
  -webkit-background-size: cover;
          background-size: cover; }
  .security-section__block-before.animated {
    opacity: 1; }

@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .security-section__top {
    margin-bottom: 10px; }
  .security-section__inner {
    padding: 10px 15px 10px 10px; }
  .security-section__p {
    font-size: 10px;
    letter-spacing: 0; }
  .page__security {
    margin-top: 20px; } }

@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .page__security {
    margin-top: 20px; }
  .security-section__inner {
    padding: 20px; } }

@media screen and (max-width: 1300px) {
  .security-section__titleImg {
    left: 40%; } }

@media screen and (max-width: 1200px) {
  .security-section__block-before {
    opacity: 1;
    position: relative;
    height: 500px;
    background: url(../img/save-bg.jpg) no-repeat center/cover !important;
    width: 100%;
    margin: auto;
    right: inherit; }
  .security-section__titleImg {
    position: relative;
    display: block; }
  .security-section__block {
    display: block;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    max-width: 100%; }
    .security-section__block:before {
      display: none; } }

.page__faq {
  background: url("../img/security-bg.jpg") no-repeat center/cover; }
  @media screen and (max-width: 1199px) {
    .page__faq {
      padding: 40px 0; } }

.faq-section__title {
  font-size: 60px;
  margin-bottom: 25px;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1.44px;
  color: white;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.34) 1px 0 5px; }

@media screen and (min-width: 769px) {
  .faq-section__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; } }

.faq-section__items-wrapper {
  width: 100%; }
  @media screen and (min-width: 769px) {
    .faq-section__items-wrapper {
      width: 48%; } }

.faq-section__item-title {
  padding: 5px 10px;
  font-size: 18px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  cursor: pointer;
  font-weight: normal;
  margin: 10px 0 0;
  min-height: 37px;
  color: white; }
  .faq-section__item-title:hover {
    background: white;
    color: black; }

.faq-section__item {
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s; }
  .faq-section__item.active .faq-section__item-title {
    color: black;
    background: white; }

.faq-section__item-info {
  background: rgba(243, 243, 243, 0.2);
  padding: 5px 10px;
  color: white;
  font-size: 17px;
  display: none; }

.faq-section .typed-strings {
  display: none; }

.top-nav__item img {
  height: 18px;
  width: auto;
  margin-top: -2px; }

.main-menu {
  position: fixed;
  width: 80%;
  height: 100%;
  right: -100%;
  top: 0;
  background: black;
  z-index: 99999;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s; }
  .main-menu .menu__block {
    display: block;
    position: relative;
    top: 0;
    opacity: 1;
    height: auto;
    background: none;
    width: auto; }
  .main-menu #menu {
    display: block; }
  .main-menu .menu__list {
    display: block; }
  .main-menu .menu__item {
    display: block; }
    .main-menu .menu__item a {
      color: white;
      font-size: 25px; }
    .main-menu .menu__item.active a {
      color: #00c3ff; }
    .main-menu .menu__item--footer {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      .main-menu .menu__item--footer a {
        background: white;
        width: 40px;
        height: 40px;
        margin-right: 20px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        -webkit-transition: .2s;
        -o-transition: .2s;
        transition: .2s; }
        .main-menu .menu__item--footer a img {
          height: 70%; }
        .main-menu .menu__item--footer a:hover {
          background: #00cbfc; }
        .main-menu .menu__item--footer a:last-child {
          margin-right: 0; }

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px; }

.close {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  overflow: hidden; }
  .close:hover::before, .close:hover::after {
    background: #fff; }
  .close::before, .close::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #fff; }
  .close::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }
  .close::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg); }
  .close.hairline::before, .close.hairline::after {
    height: 1px; }

.activeMenu .main-menu {
  right: 0; }

@media screen and (max-width: 768px) {
  .main-menu {
    width: 90%;
    display: block;
    padding: 70px 0 20px 40px;
    overflow: auto;
    max-height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
    .main-menu .menu__item {
      padding: 5px 10px; }
      .main-menu .menu__item a {
        font-size: 18px;
        display: block;
        padding: 2px 0; }
      .main-menu .menu__item--footer {
        margin-top: 10px; }
        .main-menu .menu__item--footer a {
          padding: 0;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
    .main-menu .close-btn {
      left: 20px; } }

/*==============================================
 Footer
 @mixin ==============================================*/
.gray {
  padding: 80px 0;
  background: #f5f5f5; }

.dark {
  background: #222; }

.gray .sub-title {
  margin: 15px 0;
  letter-spacing: 2px;
  color: #222;
  font-size: 12px; }

.dark .sub-title {
  margin: 15px 0;
  letter-spacing: 2px;
  color: #fff;
  font-size: 12px; }

.gray .social-link a {
  display: inline-block;
  margin: 10px;
  color: #222;
  font-size: 20px; }

.dark .social-link a {
  display: inline-block;
  margin: 5px;
  color: #fff;
  font-size: 20px; }

.gray .social-link.circle a {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #222;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 40px; }

.dark .social-link.circle a {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 40px; }

.gray .social-link.circle a:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #222; }

.dark .social-link.circle a:hover {
  color: #222;
  border: 1px solid transparent;
  background: #fff; }

.gray .copyright {
  letter-spacing: 2px;
  color: #000;
  font-size: 14px; }

.dark .copyright {
  letter-spacing: 2px;
  color: #fff;
  font-size: 14px; }

.gray .copyright-sub-title {
  letter-spacing: 2px;
  font-size: 12px; }

.footer-logo {
  display: block; }

.f-link,
.dark h5 {
  color: #fff; }

.dark h5 {
  letter-spacing: 1px; }

.dark {
  color: #6f7273; }

.dark .primary-footer {
  padding: 80px 0;
  background: #222; }

.f-list,
.r-work {
  margin: 0;
  padding: 0;
  list-style: none; }

.f-list li a {
  display: block;
  color: #a2a2a2;
  line-height: 45px; }

.f-list li {
  border-bottom: 1px solid #333; }

.r-work li a {
  float: left;
  margin: 0 10px 10px 0; }

.r-work li a {
  width: 55px;
  height: 55px; }

.r-work li a img {
  width: 100%;
  height: auto; }

.dark .secondary-footer {
  display: inline-block;
  width: 100%;
  padding: 35px 0;
  border-top: 1px solid #2c2c2c;
  background: #1b1b1b;
  font-weight: normal; }

dark .secondary-footer .social-link a {
  display: inline-block;
  margin: 0 0 0 15px;
  color: #5a5a5a;
  font-size: 20px; }

dark .secondary-footer .social-link.circle a {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 1px solid #5a5a5a;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 35px; }

.dark .secondary-footer .social-link.circle a:hover {
  color: #fff;
  border: 1px solid transparent;
  background: #5a5a5a; }

.footer-3,
.footer-4 {
  position: relative; }

.footer-3 .f-logo-center {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -3%;
  padding: 20px;
  text-align: center;
  border: 5px solid #f5f5f5;
  background-color: #fff; }

.footer-4 .f-logo-center {
  position: absolute;
  top: -50px;
  left: 50%;
  margin-left: -5%;
  padding: 20px;
  text-align: center;
  border: 5px solid #222;
  background-color: #fff; }

.footer-4.dark {
  padding: 80px 0;
  background: #222; }

.footer-4.dark .social-link a {
  display: inline-block;
  margin: 10px;
  color: #fff;
  font-size: 20px; }

.footer-4.dark .social-link.circle a {
  width: 40px;
  height: 40px;
  text-align: center;
  border: 1px solid #fff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 40px; }

.footer-4.dark .social-link.circle a:hover {
  color: #222;
  border: 1px solid transparent;
  background: #fff; }

.footer-4.dark .copyright {
  letter-spacing: 2px;
  color: #fff;
  font-size: 14px; }

.footer-4.dark .copyright-sub-title {
  letter-spacing: 2px;
  color: #d0d0d0;
  font-size: 12px; }

.gray .border-top {
  padding-top: 40px;
  border-top: 1px dashed rgba(0, 0, 0, 0.1); }

.dark .border-top {
  padding-top: 40px;
  border-top: 1px dashed rgba(255, 255, 255, 0.2); }

.short-pad {
  padding: 40px 0 !important; }

footer {
  min-height: 100vh; }
  footer .container {
    max-width: 1160px;
    padding: 0 15px;
    margin: 0 auto; }
  @media screen and (min-width: 769px) {
    footer .row {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }
  @media screen and (min-width: 769px) {
    footer .col-md-3 {
      width: 33%;
      padding-right: 30px;
      padding-left: 30px; } }
  @media screen and (min-width: 769px) {
    footer .wrapper-footer {
      margin-top: 0;
      position: absolute;
      bottom: 0;
      width: 100%;
      left: 0; } }
  footer h5 {
    margin: 0 0 30px 0;
    color: #333;
    font-weight: normal;
    line-height: 1.5;
    text-transform: uppercase; }
  footer .secondary-footer .row {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  footer .secondary-footer svg {
    height: 20px;
    fill: #5a5a5a;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s; }
  footer .social-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    footer .social-link a {
      display: -webkit-box !important;
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      footer .social-link a:hover svg {
        fill: #fff; }
  footer .footer-logo {
    margin-bottom: 40px; }
    footer .footer-logo img {
      width: 100px; }

.page__container {
  position: relative; }

.triagle-top-right {
  position: absolute;
  top: 0;
  left: 0;
  width: 133px;
  height: 184px;
  opacity: 0;
  background: url("../img/top-triangle.png") no-repeat center/cover; }

.join-line {
  position: absolute; }
  .join-line--bottom-left {
    right: 100%;
    top: 100%; }
  .join-line--top-left {
    bottom: 100%;
    right: 100%; }
  .join-line--top-right {
    left: 100%;
    margin-left: -25px;
    bottom: 100%;
    margin-bottom: -50px; }
  .join-line--bottom-right {
    top: 100%;
    left: 100%; }
  .join-line#join-line-spec {
    margin-bottom: -30px; }
  .join-line__gorizontal {
    position: absolute;
    width: 0;
    height: 1px;
    background: #e8e9ed; }
    .join-line__gorizontal--bottom-right {
      bottom: 0;
      right: 0; }
    .join-line__gorizontal--bottom-left {
      bottom: 0;
      left: 0; }
    .join-line__gorizontal--top-left {
      top: 0;
      left: 0; }
    .join-line__gorizontal--top-right {
      top: 0;
      right: 0; }
  .join-line__vertical {
    position: absolute;
    width: 1px;
    height: 0;
    background: #e8e9ed;
    right: 0; }
    .join-line__vertical--right-top {
      right: 0;
      top: 0; }
    .join-line__vertical--left-top {
      left: 0;
      top: 0; }
  .join-line--description {
    height: 300px;
    width: 300px;
    margin-top: -70px; }
  .join-line--save {
    z-index: 1; }
  .join-line__square {
    opacity: 0;
    display: block;
    width: 14px;
    height: 14px;
    background: #00c3ff;
    position: absolute; }
    .join-line__square--top-right {
      right: -7px;
      top: -7px; }
    .join-line__square--top-left {
      left: -7px;
      top: -7px; }
    .join-line__square--bottom-right {
      bottom: -7px;
      right: -7px; }
    .join-line__square--bottom-left {
      bottom: -7px;
      left: -7px; }
  .join-line .pulse {
    bottom: -11px;
    opacity: 0;
    right: -11px; }
    .join-line .pulse--left-bottom {
      right: initial;
      left: -11px; }

.pulse {
  position: absolute;
  display: block;
  width: 22px;
  height: 22px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: rgba(0, 195, 255, 0);
  -webkit-box-shadow: 0 0 0 rgba(0, 195, 255, 0.2);
          box-shadow: 0 0 0 rgba(0, 195, 255, 0.2);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
  bottom: 0; }

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 195, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 195, 255, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 195, 255, 0);
            box-shadow: 0 0 0 20px rgba(0, 195, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 195, 255, 0);
            box-shadow: 0 0 0 0 rgba(0, 195, 255, 0); } }

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 195, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(0, 195, 255, 0.4); }
  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(0, 195, 255, 0);
            box-shadow: 0 0 0 20px rgba(0, 195, 255, 0); }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 195, 255, 0);
            box-shadow: 0 0 0 0 rgba(0, 195, 255, 0); } }

.page__community .join-line {
  margin-left: -5px; }

#join-line-token-2 {
  margin-right: 20px; }

#join-line-team {
  margin-bottom: -35px; }

.security-section__titleImg {
  position: absolute;
  bottom: 100px;
  display: block; }
  @media screen and (min-width: 1300px) {
    .security-section__titleImg {
      display: block;
      left: 40%; } }
  @media screen and (min-width: 1600px) {
    .security-section__titleImg {
      left: 20%; } }

.small-desktop-detect-js,
.old-desktop-detect-js {
  display: none; }

#controlBar_bgndVideo-community {
  display: none; }

@media (min-width: 1200px) and (min-height: 500px) and (max-height: 700px) {
  .old-desktop-detect-js {
    display: block; } }

@media (min-width: 1200px) and (min-height: 701px) and (max-height: 850px) {
  .small-desktop-detect-js {
    display: block; } }

.security-section__youtubeVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  right: 0;
  display: none; }

@media (max-width: 650px) {
  .spec-section__col {
    padding-right: 0 !important; }
  .spec-section__row {
    display: block; }
  .spec-section__list {
    display: block; }
  .development-section__name {
    font-size: 40px; }
  .team-section__photo {
    display: block;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    padding: 0; }
  .team-section__list {
    display: block; }
  .team-section__item {
    width: 350px;
    margin: 20px auto; }
  .team-section__inside {
    display: block;
    text-align: center; }
    .team-section__inside img {
      margin: auto;
      width: 100%;
      position: relative;
      height: auto; } }

@media (max-width: 390px) {
  .team-section__item {
    width: 300px; }
  .page__hero {
    padding-bottom: 90%; }
  .hero__count-down {
    font-size: 16px; }
  .page__about, .page__token {
    padding: 20px 0 0; } }
