.section {
  padding: 0; }

.active a {
  color: #16b8ed; }

.page__header {
  background: black;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .page__header .header {
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 20px 0; }
  .page__header.firstSlide {
    background: transparent; }
    .page__header.firstSlide .header {
      padding: 50px 0; }

.page__features {
  margin-top: 50px; }

.page__spec {
  padding: 0 !important; }

.menu__block {
  height: 0;
  overflow: hidden; }

.menu__btn:hover .menu__block {
  height: auto; }

@media (min-width: 1200px) and (min-height: 650px) and (max-height: 850px) {
  .page__features {
    margin-top: 30px; }
  .about-section__image {
    max-width: 300px; }
  .about-section__title {
    font-size: 40px; } }
